page{
    background: #eee;
}
.fd_main{
    padding:20rpx;
    color:#666;

    .fd_tips{
        display: flex;
        flex-wrap: wrap;
        text{
            text-align:center;
            width:30%;
            padding:20rpx 10rpx;
            margin: 20rpx 10rpx;
            background: #fff;
            text-align: centers;
        }
    }

    .fd_content{
        background: #fff;
        margin-top:20rpx;
        textarea{
            padding:10rpx;
        }

        .fd_tools{
            display: flex;
            flex-wrap: wrap;
            button{
                color:#666;
                background: #eee;
                font-size:40rpx;
                margin:0;
                margin-left: 20rpx;
                margin-bottom: 20rpx;
                width:90rpx;
                height: 90rpx;
            }
        }
    }
    .submit_btn{
        margin-top:20rpx;
        display:flex;
        justify-content: flex-end;
        button{
            width:30%;
            font-size: 34rpx;
            background: rgb(241, 45, 45);
            color:#fff;
            margin:0;
            display:flex;
            justify-content: center;
            align-items:center;
        }
    }
}
